body{
  background-color: rgba(16, 16, 65, 0.726);



}
.app{
  justify-content: center;
}
.card{
  justify-content: center;
  text-align: center;
 
 
  background-color: rgba(255,255,255,0);
  border: none;

}

.last {

  margin-top: 35px;
justify-content: center;

 
}

.first>h3{
  font-weight: 400;
}

.mid{
  text-align: center;
  align-self: center;
  
}
.mid>h3{
  font-size: 40px;
  font-weight: 400;
}
.mid-last{
  text-align: center;
  align-self: center;
}

.mid-last>p{
  font-size: 20px;
  line-height:20px;
}
.seven-day{

  justify-content: center ;
  margin-top: 60px;
 
}

.icon_div{
  text-align: center;
  margin-bottom: 10px;
}
.icons{
  
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.4;
}

.icons:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
 opacity: 1;
}

